.__copytables__A__ { background: Highlight !important; font-weight: bolder; transform: translate(30px,-30px);  transition-duration: 0.5s; }
.__copytables__B__ { background:  rgba(255,255,0,0.8) !important;  }
.__copytables__C__ { }
.__copytables__D__ { outline: 10px solid Highlight  !important; transition: outline 0.2s ease !important; }